<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Client</h2>
<form method="POST">
    <label>Sales ID:</label><br>
    <input type="text" name="sales_id" value="{{ client.sales_id }}" required><br>

    <label>Client Name:</label><br>
    <input type="text" name="clientname" value="{{ client.clientname }}" required><br>

    <label>Company:</label><br>
    <input type="text" name="company" value="{{ client.company }}"><br>

    <label>Email:</label><br>
    <input type="email" name="email" value="{{ client.email }}" required><br>

    <label>Contact:</label><br>
    <input type="text" name="contact" value="{{ client.contact }}"><br>

    <label>Response:</label><br>
    <input type="text" name="response" value="{{ client.response }}" required><br>

    <label>Status:</label><br>
    <input type="text" name="status" value="{{ client.status }}" required><br>

    <label>Description:</label><br>
    <textarea name="discription">{{ client.discription }}</textarea><br>

    <button type="submit">Update Client</button>
</form>

    <a href="{{ url_for('main.home') }}" class="btn btn-secondary mt-3">Back to Client List</a>


</body>
</html>